.Thermos {
    --thermos-body-width: 150px;
    --thermos-body-heigh: calc(var(--thermos-body-width)*2);
    --thermos-border: 5px;
    --thermos-border-color: black;
    --thermos-decoration-color: #152611;
    /* #262322 */

    --color-background: #fff;
    --color-outline: #363636;
    --color-fill: #888;

    font-size: 10px;
    max-width: 200px;
}

.Thermos * {
    box-sizing: border-box;
}

.thermos-body {
    height: var(--thermos-body-heigh);
    width: var(--thermos-body-width);

    /* new */
    max-width: 100%;

    border: var(--thermos-border) solid var(--thermos-border-color);
    position: relative;
    border-radius: 10% 10% 0 0;

    /* Metalic effect from https://www.youtube.com/watch?v=YqVWFSpXjGE */
    background: linear-gradient(90deg, #787878 0%,
            #b5b5b5 25%,
            #e3e3e3 50%,
            #b5b5b5 75%,
            #787878 100%);
}

.thermos-ring {
    position: absolute;
    height: calc(var(--thermos-body-width)*0.2);
    width: var(--thermos-body-width);

    /* new */
    max-width: 100%;
    box-sizing: content-box;

    border: var(--thermos-border) solid var(--thermos-border-color);
    left: calc(var(--thermos-border)*-1);
    background: var(--thermos-decoration-color);
}

.thermos-ring-upper {
    top: calc(var(--thermos-body-width)*0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.thermos-ring-upper>span {
    filter: invert(100%);
}

.thermos-ring-bottom {
    bottom: calc(var(--thermos-border)*-1);
}

.thermos-handler {
    position: absolute;
    height: calc(var(--thermos-body-width)*0.6);
    width: calc(var(--thermos-body-width)*0.4);
    border: calc(var(--thermos-border)*4) solid var(--thermos-border-color);
    background: transparent;
    right: calc(var(--thermos-body-width)*-0.35);
    top: calc(var(--thermos-body-width)*0.4);
    border-radius: 5% 50% 50% 5%;
    border-right: calc(var(--thermos-border)*4) double var(--thermos-border-color);
}

.thermos-window {
    position: absolute;
    height: calc(calc(var(--thermos-body-width)*1.4) - calc(var(--thermos-border) * 6));
    width: calc(var(--thermos-body-width)*0.2);

    top: calc(calc(var(--thermos-body-width)*0.4) + calc(var(--thermos-border) * 3));
    right: calc(var(--thermos-body-width)*0.2);

    border-left: 1px dashed var(--thermos-border-color);
    border-right: .5px dotted var(--thermos-border-color);

    /* glass effect */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.thermos-window .liquid {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;

    background: #6F4E37;
    border-radius: 8px;
    transition: height 2s;
}

.thermos-window ul {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    margin: 0px;
    padding: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    list-style-type: none;
}