.App {
  text-align: center;
  background-color: #EDE5D0;
  min-height: 100vh;
  padding: 2rem;
}

/* https://coolors.co/262322-63372c-cacf85-8cba80-658e9c */

main {
  display: flex;
  flex-direction: column;
}

#examples {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 1rem auto;
  padding: 4rem;
  box-sizing: border-box;
}

.flex-columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#top-container, #prepare-coffee-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: max-content;
  gap: 2rem;

  justify-items: center;
  align-items: center;
}

.neumorphism-card {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.5),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.25));
}